.textCard {
  width: 50%;
  height: $textCardHeight;
  
  position: absolute;
  bottom: 0;
  left: 0;

  &__title{
    display: flex;
    flex-flow: column nowrap;
    margin-top: 1rem;
    
    &-intro{
      margin-left: 1rem;
      font-size: 24px;
    }

    &-name{
      margin-left: 4rem;
      font-size: 36px;
    }
    margin-bottom: 1rem;
  }

  &__subtitle{
    margin-left: 1rem;
    font-style: italic;
    font-size: 16px;

    &-known{
      font-weight: 200;
      font-size: 16px;
    }

    &-known > span{
      margin-left: 1rem;
      color: $mono-green;
      font-style: normal;
      font-weight: 800;
      letter-spacing: 1.25px;
    }
  }
}