.main{
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  height: $mainHeight;
  
  &__left{
    width: 60%;
    position: relative;
  }

  &__right{
    width: 40%;
    display: flex;
    flex-flow: column;

    &-title{
      width: 100%;
      text-align: center;
      margin-top: 4rem;
      margin-bottom: 9rem;
      text-decoration: underline;
    }

    &-info{
      display: flex;
      flex-flow: column nowrap;
      margin-left: 2rem;
      font-size: 24px;

      &-title{
        font-weight: 300;
        margin-bottom: 1rem;
      }

      &-title > span {
        margin-left: 1rem;
        color: #eee;
      }
    }
  } 
}