.main{
  display: flex;
  flex-flow: row nowrap;

  width: 100%;
  height: $sectionHeight;

  border-bottom: 1px solid #ccc;

  &__left{
    width: 60%;
    position: relative;
  }

  &__right{
    width: 40%;
    display: flex;
    flex-flow: column;

    &-title{
      width: 100%;
      text-align: center;
      margin-top: 4rem;
      margin-bottom: 9rem;
      text-decoration: underline;
      font-size: 24px;
    }

    &-info{
      display: flex;
      flex-flow: column nowrap;
      margin-left: 2rem;
      font-size: 18px;

      &-title{
        font-weight: 300;
        margin-bottom: 2rem;
      }

      &-title > span {
        margin-left: 1rem;
        color: #eee;
      }
    }
  } 
}