/// heights

$headerHeight: calc(100vh - 90vh);
$sectionHeight: calc(100vh - $headerHeight);
$textCardHeight: calc($sectionHeight - 60vh);


///colors;

$mono-green: #586E5E; 

//rarities
:root{
  --common: #68AD62;
  --uncommon: #5A8EC4;
  --legendary: #9582AD;
  --rare: #b14d4a;
  --unique: #E6CD22;
}




